flows.json
[{"id":"48008f33.138b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5c9585ae.ccc9dc","type":"function","z":"48008f33.138b8","name":"weather-input","func":"global.set('s',global)\na=msg.payload.humidity\nb=msg.payload.clouds\nc=msg.payload.windspeed\nif((a>=40 && b==\"overcast clouds\")|| (c>=5)){\nglobal.speedlimit={\"maximum speed\" : 20}\nmsg.payload ={\"maximumspeed\":20}\n\n } else if(a>=20&& b==\"overcast clouds\"||(c>=3)){\nglobal.speedlimit={\"maximum speed\" : 40}\nmsg.payload ={\"maximumspeed\":40}\n \n }else{\n global.speedlimit={\"maximumspeed\":50}\n msg.payload={\"maximumspeed\":50}\n }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":440,"wires":[["b3a2e78b.af5da8","8e1a15c6.24e5e8","dc994eb.c9b3bb"]]},{"id":"8d56208e.36d95","type":"http in","z":"48008f33.138b8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":160,"y":640,"wires":[["9c2d967e.dcbb38"]]},{"id":"3dd67934.526196","type":"http response","z":"48008f33.138b8","name":"","statusCode":"","headers":{},"x":610,"y":640,"wires":[]},{"id":"9c2d967e.dcbb38","type":"function","z":"48008f33.138b8","name":"weboutput","func":"msg.payload={\"traffic alert\":global.get('s'),\"trafic information\":global.get('t'),\"suggestion\":global.get('a'),\"zones\":global.get('z')};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":640,"wires":[["3dd67934.526196"]]},{"id":"dc994eb.c9b3bb","type":"ui_text","z":"48008f33.138b8","group":"f13247c1.f52768","order":1,"width":0,"height":0,"name":"","label":"traffic alert","format":"{{msg.payload}}","layout":"row-left","x":510,"y":480,"wires":[]},{"id":"5a81b0cb.f19fe","type":"ibmiot in","z":"48008f33.138b8","authentication":"apiKey","apiKey":"5df1f1eb.80c7b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"9876","applicationId":"","deviceType":"externship","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":360,"wires":[["7bf4590a.f84598","322c1698.45178a","5c9585ae.ccc9dc","99d78c9e.20ca3"]]},{"id":"b3a2e78b.af5da8","type":"ibmiot out","z":"48008f33.138b8","authentication":"apiKey","apiKey":"5df1f1eb.80c7b","outputType":"cmd","deviceId":"9876","deviceType":"externship","eventCommandType":"cmd","format":".json","data":"data","qos":"0","name":"IBM IoT","service":"registered","x":500,"y":260,"wires":[]},{"id":"8e1a15c6.24e5e8","type":"debug","z":"48008f33.138b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":320,"wires":[]},{"id":"322c1698.45178a","type":"function","z":"48008f33.138b8","name":"vechiles-count","func":"global.set('t',global)\np=msg.payload.traffic\nif(p>=70){\nglobal.p={\"overtraffic\":\"better choose other way\" } \nmsg.payload={\"overtraffic\":\"better choose other way\" } \n}else if(p>=40){\nglobal.p={\"moderatetraffic\":\"you can try\" }\nmsg.payload={\"moderatetraffic\":\"you can try\"} \n}else{\nglobal.p={\"No traffic\" :\"best way\"}\nmsg.payload={\"No trafic\":\"best way\"}  \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":400,"wires":[["b3a2e78b.af5da8","8e1a15c6.24e5e8","7a80be26.4cbfe"]]},{"id":"7bf4590a.f84598","type":"function","z":"48008f33.138b8","name":"fatal situation","func":"global.set('a',global)\naccident=msg.payload.accident\nif(accident==1){\nglobal.a={\"accident prone area\": \"Drive carefully\" }\nmsg.payload={\"accident prone area\": \"Drive carefully\" }\n}else{\nglobal.a={\"msg\":\"happy journey\"}\nmsg.payload={\"msg\":\"happy journey\"}\n\n\n}  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":360,"wires":[["b3a2e78b.af5da8","8e1a15c6.24e5e8","21e943a0.21203c"]]},{"id":"99d78c9e.20ca3","type":"function","z":"48008f33.138b8","name":"zones","func":"global.set('z',global)\np=msg.payload.zones\nif(p==1){\nglobal.z={\"schoolzone\" :\"go slow\" } \nmsg.payload={\"schoolzone\" :\"go slow\" } \n}else if(p==2){\nglobal.z={\"hospital\":\"hospital is near by place\"} \nmsg.payload={\"hospital\":\"hospital is near by place\"} \n}else if(p==3){\nglobal.z={\"reasturant\":\"come and enjoy the food\"}\nmsg.payload={\"reasturant\":\"come and enjoy the food\"}\n}else{\nglobal.z= {\"road\":\"don't drink and drive\"}\nmsg.payload={\"road\":\"don't drink and drive\"}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":320,"wires":[["b3a2e78b.af5da8","8e1a15c6.24e5e8","8000b431.934178"]]},{"id":"21e943a0.21203c","type":"ui_text","z":"48008f33.138b8","group":"f13247c1.f52768","order":3,"width":0,"height":0,"name":"","label":"fatal information","format":"{{msg.payload}}","layout":"row-left","x":520,"y":400,"wires":[]},{"id":"7a80be26.4cbfe","type":"ui_text","z":"48008f33.138b8","group":"f13247c1.f52768","order":4,"width":0,"height":0,"name":"","label":"traffic information","format":"{{msg.payload}}","layout":"row-left","x":530,"y":440,"wires":[]},{"id":"8000b431.934178","type":"ui_text","z":"48008f33.138b8","group":"f13247c1.f52768","order":2,"width":0,"height":0,"name":"","label":"location information","format":"{{msg.payload}}","layout":"row-left","x":530,"y":360,"wires":[]},{"id":"f13247c1.f52768","type":"ui_group","name":" Rules and Information","tab":"516d50d.7a519b","order":1,"disp":true,"width":13,"collapse":false},{"id":"5df1f1eb.80c7b","type":"ibmiot","name":"apikey","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"516d50d.7a519b","type":"ui_tab","name":"Smart Connected Signs For Improved Road Safety","icon":"Rules and information","disabled":false,"hidden":false}]